Changes made to Ind+hh_with_xwave_all_waves.dta
- Sort pidp wave wave_num hidp
- Order pidp wave wave_num nbrsnci_dv scghq1_dv
- Drop all irrelevant waves: keep if inlist(wave_num, 1, 3, 6, 9, 12)
- drop all varaibles with >15% missing (except the insti & SW variables)
- drop all variables with >15% -1 (don't know), -2 (refusal), -7 (proxy), -8 (inapplicable)
- Drop rows were nbrsnci_dv_dv OR scghq1_dv is <0

1. Start with 505,477 rows and 8,488 columns
2. Drop all irrelevant waves (294,270 observations deleted)
3. Dropped all vars with >10% missing (7,603 columns dropped)
4. Dropped all rows where nbrsnci_dv < 0 or scghq1_dv < 0 (35,872 rows dropped) (17%)
5. Dropped all informal institutions and SW variables except nbrsnci_dv and scghq1_dv (21 columns dropped)
6. Dropped vars with >20% negative variables (521 columns dropped) (343 vars remain)
7. Hand selected vars to drop based on relevance (324 columns dropped) (19 vars remain)


Remaining variables:

- pidp : Cross-wave person identifier (public release)
- wave : 
- wave_num : 
- hidp : Household identifier (public release)
- gor_dv : Government Office Region
- urban_dv : Urban or rural area, derived
- nbrsnci_dv : Buckner's Neighbourhood Cohesion Instrument, short (Î±= .88)
- scghq1_dv : Subjective wellbeing (GHQ): Likert
- sex_dv : Sex, derived
- age_dv : Age, derived from dob_dv and intdat_dv
- ethn_dv : Ethnic group (derived from multiple sources)
- marstat_dv : Harmonised de facto marital status
- jbstat : Current economic activity
- qfhigh_dv : Highest educational qualification ever reported
- jbiindb_dv : Current job: Industrial classification (CNEF), two digits
- fimnnet_dv : total net personal income - no deductions
- fihhmnnet1_dv : total household net income - no deductions
- houscost1_dv : monthly housing cost including mortgage principal payments
- health : Long-standing illness or disability

What I could think about adding:
- hhsize (household size)
- tenure_dv (housing tenure)

Also need to think about how to handle the multiple waves per person. Options:
1. Keep all waves (will need to use panel data methods)
2. Keep only one wave per person (will need to decide which wave to keep - most recent? random?)
3. Average across waves (will need to decide how to handle missing data - if a person is missing in one wave but not another, do we keep the non-missing value?)
4. Use only the first wave a person appears in (will lose a lot of data, but will be simpler to analyze)

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import pyreadstat

# Make 'head' scroll across the width of the screen
pd.set_option('display.max_columns', None)

In [5]:
# Import file

path = "/Users/arikatz/VSCode Projects/ukhls-informal-institutions-project/data/refinedvariables.dta"
df, meta = pyreadstat.read_dta(path)

print("Shape:", df.shape)
df.head()

Shape: (175335, 19)

,pidp,wave,wave_num,hidp,gor_dv,urban_dv,nbrsnci_dv,scghq1_dv,sex_dv,age_dv,ethn_dv,marstat_dv,jbstat,qfhigh_dv,jbiindb_dv,fimnnet_dv,fihhmnnet1_dv,houscost1_dv,health
0,22445,f,6,278664010,7,1,3.4,25,2,29,1,6,2,-8,31,2012.000000,NaN,NaN,2
1,22445,i,9,277344816,7,1,3.3,11,2,33,1,1,2,-8,31,1289.699951,1289.699951,1300.0,2
2,22445,l,12,276637622,7,1,1.6,32,2,35,1,1,6,1,0,145.169998,4146.390137,1350.0,2
3,29925,f,6,620547610,7,1,4.1,11,2,37,1,5,1,-8,30,2175.620117,2175.620117,1451.0,1
4,29925,i,9,619024416,7,1,3.5,9,2,40,1,4,2,-8,27,2904.530029,2904.530029,0.0,1